// less变量

@bg: #fff; // 背景
@bg-page: rgb(246, 246, 246); // 页面背景
@gray: rgb(142, 142, 142); // 字体灰色
@gray-light: #ccc; // 字体浅灰色
@active: rgb(53, 117, 209); // 选中状态字体颜色
@active-bg: rgb(245, 250, 255); // 选中状态背景颜色